:disabled {background-color:#EBEBE4}

.center{text-align: center}

.pageContainer{
	margin:20px;
}

ul.navigationBar{
	display: inline-block;
}

.center{
	text-align: center;	
}

.testStyle {
  color:#FF0000;
}

.testStyle2{
	color:#FF1111;
}

.bold{
	font-weight: bold;
}

.tblHeader{
	font-weight: bold;
	font-size: 16px;
	width:150px;
	display:inline-block;
	text-align:center	
}

.tblValue{
	font-weight: normal;
	font-size: 13px;
	width:150px;
	display:inline-block;
	text-align:center	
}

.tblValRowBkgnd{
	background-color: #F8F8F8 ;
}

.blkBrdr{
	border: 1px solid black;
}

.tblBrdr{
	border: 1px solid #c7c7c7;
	border-radius: 10px;
}

.tblHdrUndrLn{
	border-bottom: 1px solid #c7c7c7;
}

#bonusEstTab{
	height: 28.5ex;
}

.beInputLabel {
	display: inline-block;
	width: 140px;
}

.estBtns{
	width: 100%;
	height: auto;
	overflow: auto;
}

.beMainBody{
	width: 135ex;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	padding-top:20px
}