.inlineBlock{
	display: inline-block;
}
.labelWidth{
	width: 140px;
}

.pad5{
	padding: 5px;
}
.pad10{
	padding: 10px;
}
.pad15{
	padding: 15px;
}
.pad20{
	padding: 20px;
}
.padB10{
	padding-bottom: 10px;
}
.padR5{
	padding-right:5px;
}
.padR10{
	padding-right:10px;
}
.padR15{
	padding-right:15px;
}
.padR20{
	padding-right:20px;
}
.padR25{
	padding-right:25px;
}
.padR45{
	padding-right:45px;
}
.padT20{
	padding-top:20px;
}

.margin5{
	margin: 5px;
}
.margin10{
	margin: 10px;
}
.margin15{
	margin: 15px;
}
.marginR15{
	margin-right:15px;
}